<div class="row PaddingTop">
    <div class="col-md-12">
            <div class="text-center ProjectName">Inception</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="col-md-7 col-md-offset-3">
            <mat-form-field 
                (focusin)="HideOverlay()"
                (focusout)="ShowOverlay()"                
                class="col-md-8">
                <input 
                    matInput  
                    type="text"
                    placeholder="Please enter site url..."
                    [formControl]="SearchControl"
                    [matAutocomplete]="auto"
                    id="DomainName"  
                    [(ngModel)]="DomainName" 
                    name="SelectedDomain" 
                    (keyup)="SetOverlayOnKeyPressed($event)"
                    (click)="SetOverlayOnKeyPressed($event)"
                    (input)="SetOverlayOnKeyPressed($event);GetTestedSiteDomainNames()"> 
                    <mat-autocomplete                        
                        (optionSelected)="ShowOverlay();ShowTestResultHistoryList()"
                        #auto="matAutocomplete" >
                        <mat-option  *ngFor="let domainName of FilteredDomainNames | async " [value]="domainName" >
                        {{ domainName | RemoveScheme}}
                        </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
            <button mat-button class="TestButton" (click)="ShowTestResultHistoryList()">Test me!</button>
            <button mat-button *ngIf="SiteTestResultThumbnails != null" [routerLink]="['/' + DomainName]" class="TestButton">Site overview</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-7 col-md-offset-3">
            <TestResultHistoryList 
                *ngFor="let siteTestResultThumbnail of SiteTestResultThumbnails" 
                [SiteTestResultThumbnail]="siteTestResultThumbnail"
            >
            </TestResultHistoryList>
        </div>  
    </div>  
</div>


