*
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

#MatSiteUrl {
      /* border: 1px solid rgb(204, 204, 204); */
      border-bottom-left-radius: 4px;

}

.border-radius-left {
    border-radius: 4px 0px 0 4px; /* top left, top right, bottom right, bottom left */
}

.example-full-width {
    width: 100%;
    /* border: 1px solid rgb(204, 204, 204); */
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}



.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.test-button {
  background-color: rgba(228,47,47,.42);
  border: 0.5px solid rgba(0,0,0,.42);
  color:rgba(0,0,0,.42);
  font-size:14px;
  text-transform: uppercase;
}

.project-name
{
  font-size: 25px;
  color: rgba(255,255,255,.75);
}